<% include templates/navbar.ejs %>

  <section id="head-data">
    <div class="container">
      <div class="col wrap-data px-0">
        <h2><strong>Dasboard Kasus Covid-19 Sumatera Utara</strong></h2>
        <p>Update Terakhir: <span id="last-update">--</span></p>
        <div class="row mt-3">

            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="col-12 wrap-data-1 main-card-data">
                <h6>Total Terkonfirmasi</h6>
                <p id="data-total">--</p>
                <p id="data-total-tambah">--</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="col-12 wrap-data-1 data-rawat">
              <h6>Dalam Perawatan</h6>
                <p id="data-rawat">--</p>
                <p id="data-rawat-tambah">--</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="col-12 wrap-data-1 data-sembuh">
                <h6>Sembuh</h6>
                <p id="data-sembuh">--</p>
                <p id="data-sembuh-tambah">--</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="col-12 wrap-data-1 data-meninggal">
                <h6>Meninggal</h6>
                <p id="data-meninggal">--</p>
                <p id="data-meninggal-tambah">--</p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </section>

  <section id="sumber">
    <div class="container">
      <div class="col card-sumber">
        <p>Sumber Data :</p>
        <ul>
          <li>
            Data Pasien (Total Terkonfirmasi, Dalam Perawatan, Sembuh, Meninggal) : Data Covid-19 di Indonesia per provinsi (<a href="https://data.covid19.go.id/public/api/prov.json" target="_blank" rel="noopener noreferrer">data.covid19.go.id/public/api/prov.json</a>)
          </li>
          <li>
            Daftar Rumah Sakit Rujukan dan Call Center : Halaman Resmi Pemprov Sumut - Info COVID-19 (<a href="http://covid19.sumutprov.go.id/" target="_blank" rel="noopener noreferrer">covid19.sumutprov.go.id/</a>)
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="chart">
    <div class="container">
      <div class="col-12 px-0">
        <h6 id="title-grafik">Grafik Total Harian</h6>
        <div class="row min-chart">

          <div class="col-md-6">
            <div class="col-12 bg-white">
              <h5>Terkonfirmasi</h5>
              <canvas id="chart-konfirmasi" width="400" height="300"></canvas> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-12 bg-white">
              <h5>Dirawat</h5>
              <canvas id="chart-rawat" width="400" height="300"></canvas> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-12 bg-white">
              <h5>Sembuh</h5>
              <canvas id="chart-sembuh" width="400" height="300"></canvas> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-12 bg-white">
              <h5>Meninggal</h5>
              <canvas id="chart-meninggal" width="400" height="300"></canvas> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
    
    <% include templates/footer.ejs %>

  <script>
    getDataPasien();
    getDataChart();
  </script>

</body>
</html>