<% include templates/navbar.ejs %>

    <section id="head-faq">
        <div class="col-12 wrap-faq bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 order-lg-12 text-center px-0">
                        <a href="https://www.freepik.com/stories" target="_blank" rel="noopener noreferrer"><img src="/img/question-left.png" alt="Questions"></a>
                    </div>
                    <div class="col-md-7 order-lg-1 title-kontak">
                        <div class="row">
                        <div class="col-12">
                            <h3><b>Pertanyaan yang Sering Ditanyakan</b></h3>
                        </div>
                        <div class="col-12">
                            <p>Mari mengenali lebih dalam tentang Covid-19, agar kita semua lebih waspada dan dapat menjaga diri kita, dan orang terkasih. Dibawah ini merupakan kumpulan dari pertanyaan-pertanyaan yang paling sering ditanyakan oleh masyarakat.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="list-faq">
        <div class="container mt-5">
            <div class="col-md-6 col-search">
                <input type="text" id="myInput" onkeyup="searchFAQ()" placeholder="Cari pertanyaan" title="Cari pertanyaan">
                <i class="ri-search-line"></i>
            </div>

            <section id="accordion">
                <!-- FROM API -->
            </section>

        </div>
    </section>

    <% include templates/footer.ejs %>

    <script>
        getFaq();
    </script>
    
</body>
</html>