<% include templates/navbar.ejs %>

    <section id="head-kontak">
        <div class="col-12 wrap-kontak bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 text-center px-0">
                        <a href="https://www.freepik.com/stories"><img src="/img/doctors.png" alt="Image Kontak"></a>
                    </div>
                    <div class="col-md-7 title-kontak">
                        <h3><b>Kontak Rumah Sakit dan Call Center</b></h3>
                        <p>Informasi dan nomor alamat rumah sakit yang menjadi rujukan pemeriksaan gejala COVID-19</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="daftar-RS">
        <div class="container">
            <div class="col-12 wrap-RS bg-white">
                <div class="row">
                    <div class="col-12">
                        <h5><b>Daftar Rumah Sakit Rujukan di Sumatera Utara</b></h5>
                        <p>Berikut ini adalah rumah sakit yang menjadi rujukan untuk pasien dengan status Pasien dalam Pengawasan. Anda harus mengunjungi fasilitas kesehatan terdekat terlebih dahulu seperti klinik/rumah sakit umum sebelum akhirnya dapat dirujuk ke rumah sakit khusus di bawah ini.</p>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="col-md-5 col-search btn dropdown-toggle" data-toggle="dropdown">
                            <span>Cari rumah sakit rujukan</span>
                            <img src="/img/botArrow.png" alt="arrow">
                            <div class="dropdown-menu" id="dropRS">
                              <!-- FROM JS -->
                            </div>
                        </div>
                        <div class="row" id="row-card-RS">
                            <!-- FROM DBS -->
                        </div>
                        <div class="col-12" id="btn-show-rs">
                          <button class="btn btn-data-outline" type="button" onclick="showAllRS()">
                              Lihat Semua
                          </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="call-center">
        <div class="container mt-4">
            <div class="col-12 wrap-table bg-white">
                <h4><b>Hubungi Call Center</b></h4>

                <div class="col-md-5 col-search btn dropdown-toggle" data-toggle="dropdown">
                    <span>Cari kota/kabupaten</span>
                    <img src="/img/botArrow.png" alt="">
                    <div class="dropdown-menu" id="dropCC">
                      <!-- FROM JS -->
                    </div>
                </div>                
                <div class="table-responsive">
                    <table id="myTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kota/Kabupaten</th>
                                <th>Call Center</th>
                                <th>Hotline</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTable">
                            <!-- FROM DBS -->
                        </tbody>
                    </table>
                </div>
                <div class="col-12" id="btn-show-cc">
                  <button class="btn btn-data-outline" type="button" onclick="showAllCC()">
                      Lihat Semua
                  </button>
                </div>

            </div>
        </div>
    </section>

    <% include templates/footer.ejs %>

    <script src="/js/script.js"></script>

    <script>
        getDataCC();
        getDataRS();
    </script>
    
</body>
</html>