*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --bg-green-1: #0A6259;
    --bg-green-2: #32A37F;
    --bg-green-3: #649274;
    --bg-green-4: #BEDD9A;
    --bg-yellow: #FECE63;
    --bg-yellow-hover: #E5BA59;
    --bg-red: #FD6F63;
    --bg-red-hover: #E36459;
}
body{
    padding-top: 102px;
    background-color: #F5F6FA;
    font-family: 'Roboto', sans-serif;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}



/* NAVBAR */
.navbar{
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    padding: 9px 1rem;
}
.logo{
    font-weight: 500;
    transition: .3s ease-in-out;
}
.logo:hover{
    color: var(--bg-green-1);
}
ul.navbar-nav{
    /* font-size: 14px; */
    letter-spacing: .5px;
}
li.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
li.nav-item a :not(button){
    background: #000;
}
a.nav-link{
    color: #666666;
}
.active{
    color: #000000;
    font-weight: 600;
}
button.navbar-toggler{
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 700;
}
.icon-navbar{    
    color: #333333;
}
@media(min-width:991px){
    .logo{
        font-size: 20px;
    }
}
@media(max-width:991px){
    .navbar{
        padding: 1rem;
    }
    a.logo{
        padding-left: 15px;
    }
    a.nav-link{
        width: 100%;
        padding: 10px 0;
    }
    a.nav-link:hover{
        background-color: #FAFAFA;
    }
}
@media(max-width:991px){
    a.logo{
        font-size: 18px;
    }
}



/* HEAD */
#head{
    background-image: url('../img/back-head.png');
    background-size: cover;
    background-position: center;
    padding-top: 24px;
    padding-bottom: 32px;
}
.wrap-banner{
    width: 100%;
    margin: 0 auto;
}
.wrap-banner img{
    border-radius: 10px;
    width: 100%;
}
.title-hero h1{
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}
.col-hub .wrap-call{
    border-radius: 10px;
    padding-bottom: 15px;
}
a.call-head{text-decoration: none;}
.call-head:hover{
    color: #000000;
}
.container-call{
    display: flex;
}
.container-call>div{
    margin-bottom: 1rem;
    flex-grow: 1;
}
.container-call>div:first-child{
    padding-right: 1rem;
}
.wrap-call{
    letter-spacing: .5px;
    padding-top: 15px;
    background-color: #FFFFFF;
    transition: .3s ease-out;
    height: 100%;
}
.call-head .wrap-call:hover{
    text-decoration: none;
    color: #000000;
    background-color: #a4c1ae;
}
.wrap-call-icon{
    text-align: center;
}
.call-icon{
    width: 40px;
    margin-left: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: #BEDD9A;
}
.call-icon img{
    max-height: 28px;
    width: 100%;
}
.wrap-call p:nth-child(odd){
    font-size: 17px;
}
.wrap-call p:nth-child(even){
    font-size: 14px;
    letter-spacing: .5px;
}
.wrap-call p:nth-child(3){
    margin-top: 14px;
}
@media(min-width:991px) and (max-width:1200px){
    .container-call{
        flex-direction: column;
    }
    .container-call>div:first-child{
        padding-right: 0;
    }
}
@media(max-width:991px){
    .col-hub{
        margin-bottom: 32px;
    }
    .title-hero{
        margin-bottom: 16px;
    }
    .wrap-call{
        margin-left: 0;
    }
    .wrap-call p:nth-child(odd){
        font-size: 16px;
    }
    .wrap-call p:nth-child(even){
        font-size: 13px;
    }
}
@media(max-width:576px){
    .title-hero h1{
        font-size: 2rem;
    }
    .col-banner, .col-hub{
        padding-left: 0;
        padding-right: 0;
    }
    .call-icon{
        width: 35px;
        margin-left: 15px;
        padding: 8px;
    }
    .wrap-call p:nth-child(odd){
        font-size: 14px;
    }
    .wrap-call p:nth-child(even){
        font-size: 11px;
    }
    .container-call{
        flex-direction: column;
    }
    .container-call > div:nth-child(2){
        padding: 0;
    }
    .container-call>div:first-child{
        padding-right: 0;
    }
}



/* DATA */
#data{
    margin-top: 32px;
}
#data .container{
    padding: 0;
}
.wrap-data{
    letter-spacing: .5px;
}
.wrap-data h2{
    font-size: 24px;
}
.wrap-data > div > div {
    margin-bottom: 1rem;
}
.wrap-data-1{
    text-align: center;
    border-radius: 7px;
    padding: 16px 0px;
    font-weight: 700;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0,0,0,.1);
    height: 100%;
}
.wrap-data-1 p:nth-child(2){
    font-size: 2rem;
}
.main-card-data{
    background-image: linear-gradient(to right, #2C347D, #424CA5);
    color: white;
}
.data-rawat p:not(:first-child){
    color: #947201;
}
.data-sembuh p:not(:first-child){
    color: #208844;
}
.data-meninggal p:not(:first-child){
    color: #A20E0E;
}
.btn-data{
    color: #FFFFFF;
    background-color: #048767;
    transition: .3s ease-in;
    border: none;
    padding: 8px 24px;
    border-radius: 7px;
}
.btn-data:hover{
    background-color: #0A6259;
}
#btn-show-rs, #btn-show-cc{
    display: none;
    text-align: center;
    margin-top: 24px;
}
.btn-data-outline{
    color: var(--bg-green-1);
    border: 2px solid var(--bg-green-1);
    background-color: transparent;
    transition: .2s ease-in-out;
    padding: 8px 24px;
    border-radius: 7px;
}
.btn-data-outline:hover{
    color: white;
    background-color: var(--bg-green-1);
}
.btn-data img{
    max-width: 22px;
    margin-left: 20px;
}
@media(max-width:991px){
    .wrap-data{
        margin-top: 1rem;
    }
    .btn-data{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media(max-width:450px){
    .wrap-data h2{
        font-size: 20px;
    }
}


/* INFO */
a#zona-risiko{
    color: #4169e1;
    text-decoration: underline;
}
a#zona-risiko:hover{
    color: #1d3fa7;
}
#info{
    margin-top: 0px;
    letter-spacing: .5px;
}
.wrap-risiko{
    background-color: var(--bg-green-1);
    margin-top: 24px;
    border-radius: 10px;
    padding: 24px;
}
.con-risiko{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.con-risiko button{
    background-color: #E42B21;
}
.con-risiko button:hover{
    background-color: #c42020;
}
.con-risiko p{
    margin-top: 25px;
    letter-spacing: .5px;
    line-height: 1.8;
}
.con-apa-covid p{
    letter-spacing: .5px;
    line-height: 1.7;
}
.sub-title-apacovid{
    font-size: 20px;
}
.img-covid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}
.img-covid img{
    max-width: 350px;
}
.img-question{
    display: flex;
    justify-content: center;
    padding: 0;
}
.img-question a{
    display: flex;
}
img#question{
    margin: 32px auto auto auto;
    width: 70%;
}
.wrap-RS{margin-top: 24px;}
.col-FAQ{margin-top: 10px;}
.col-FAQ h3, .wrap-RS h3{
    font-size: 24px;
}
.wrap-FAQ{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrap-FAQ, .wrap-table, .wrap-RS{
    padding: 24px;
    border-radius: 10px;
}
.wrap-FAQ p, .wrap-RS p{
    margin-top: 25px;
    letter-spacing: .5px;
    line-height: 1.7;
}
strong.green{
    color: #2D8659;
}
strong.yellow{
    color: #947201;
}
strong.orange{
    color: #D14905;
}
strong.red{
    color: #e31717;
}
.btn-FAQ{
    color: #FFFFFF;
    background-color: #048767;
    transition: .3s ease-in;
    border: none;
    padding: 8px 24px;
    border-radius: 7px;
    letter-spacing: .5px;
    margin-top: auto;
}
.btn-FAQ:hover{
    background-color: #0A6259;
}
.col-search{    
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-search:hover{
    background-color: #e6e6e6;
}
.col-search i {
    font-size: 1.5rem;
    line-height: 0;
    font-weight: 700;
    color: #4a4a4a;
}
#list-faq .col-search i {
    font-size: 1.2rem;
}
.col-search span{
    font-size: 14px;
    color: #4E4E4E;
}
.col-search input{
    border: none;
    padding: 8px 16px;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    box-shadow: none;
    outline: none;
}
.table-responsive{
    overflow-y: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
}
#bodyTable .btn{
    background-color: #FECE63;
    transition: .1s ease-in;
    border: none;
    border-radius: 7px;
    letter-spacing: .5px;
    margin: 4px;
}
#bodyTable .btn:hover{
    background-color: #E5BA59;
}
.table th, .table thead th, .table td{
    border-top: none;
    border-bottom: none;
}
.table thead{
    background-color: #F2F7F7;
}
.table tbody tr:nth-child(even){
    background-color: #FAFAFA;
}
.table tbody tr:nth-child(even):hover{
    background-color: #ECECEC;
}
.card-RS{
    position: relative;
}
.card-RS > div{
    background-color: #F2F7F7;
    padding: 18px 18px 18px 24px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card-line{
    width: 15px;
    min-height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #649274;
    position: absolute;
    top: 0;
    left: 0;
}
.card-RS h4{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}
.card-RS span{
    font-size: 14px;
}
.card-RS .btn{
    background-color: #FECE63;
    transition: .1s ease-in;
    border: none;
    border-radius: 7px;
    letter-spacing: .5px;
}
.card-RS .btn:hover{
    background-color: #E5BA59;
}
.card-RS:nth-child(n+4){
    margin-top: 16px;
}
@media(max-width:991px){
    .img-covid, .img-question{
        display: none;
    }
    .card-RS:nth-child(n+3){
        margin-top: 16px;
    }
    .col-FAQ .row > div:first-child{
        margin-bottom: 32px;
    }
    .btn-FAQ{
        position: relative;
        margin-bottom: 0;
        margin-top: 32px;
    }
    .con-risiko button{
        margin-top: 32px;
    }
}
@media(max-width:768px){
    .card-RS:nth-child(n+2){
        margin-top: 16px;
    }
    table.table{
        min-width: 700px;
    }    
}


/* artikel */
#artikel-home{
    margin-top: 24px;
}
.list-lindungi li{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 1rem;
    list-style: none;
}
.list-lindungi img{
    height: 24px;
    margin-right: 10px;
}


/* KONTAK */
.wrap-kontak, .wrap-faq{
    padding: 24px;
}
.wrap-kontak img{
    width: 100%;
}
.title-kontak{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-size: 18px;
    letter-spacing: .5px;
}
@media(min-width:991px){
    #daftar-RS .card-RS:nth-child(n+4){
        margin-top: 16px;
    }
}
@media(max-width:991px){
    .title-kontak h3{
        font-size: 20px;
    }
    .title-kontak p{
        font-size: 16px;
    }
}
@media(max-width:768px){
    .title-kontak{
        margin-top: 16px;
    }
    .wrap-kontak img{
        width: 80%;
    }
}
@media(max-width:576px){
    .title-kontak{        
        padding: 1rem;
    }
}


/* FAQ */
#head-faq img{
    width: 70%;
}
#head-faq p{
    line-height: 1.8;
}
.toggle-faq{
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 16px 16px 16px 0;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 4px 4px rgba(63, 63, 63, 0.1);
}
#list-faq .col-search{
    background-color: white;
}
#list-faq .col-search:hover{
    background-color: #eeeeee;
}
.toggle-faq:hover{
    background-color: #FAFAFA;
}

.toggle-faq .col-1{
    max-width: 60px;
}
.isi-text-faq{
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
}
.isi-faq{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.col-icon-fa{
    line-height: 30px;
    font-size: 2rem;
    padding-right: 0;
    color: #ababab;
}
.ol-isi-faq{
    padding-left: 32px;
    margin-top: 8px;
}
.isi-text-faq a{
    color: #3498db;
}
.isi-text-faq a:hover{
    color: #2984c0;
}
.isi-faq>div:first-child{
    padding-right: 1rem;
}
@media(min-width:576px) and (max-width:768px){
    #head-faq img{
        width: 50%;
    }
}
@media(max-width:576px){
    .ol-isi-faq{
        padding-left: 16px;
    }
    .col-icon-fa{
        display: none;
    }
}


/* HALAMAN DATA */
#chart>div{
    margin-top: 32px;
}
.min-chart .bg-white{
    border-radius: 10px;
    padding: 15px;
}
.min-chart h5{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 24px;
}
.min-chart>div>div{
    box-shadow: 0 6px 12px rgba(63, 63, 63, 0.1);
}
.min-chart>div:nth-child(n+3){
    margin-top: 24px;
}
#title-grafik{
    letter-spacing: .5px;
    margin-bottom: 15px;
}
.card-sumber{
    margin-top: 24px;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #DCDDE0;
}
.card-sumber a{
    color: #005FB7;
}
.card-sumber a:hover{
    color: #16659a;
}
.card-sumber ul {
    margin-left: 1rem;
}
.card-sumber ul li:first-child{
    margin-bottom: 5px;
}
@media(max-width:768px){
    .min-chart > div:nth-child(n+2){
        margin-top: 24px;
    }
}

/* FOOTER */
.footer{
    margin-top: 100px;
    padding: 2rem;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px;
    font-size: 1rem;
    background-color: var(--bg-green-1);
}
@media(max-width:768px){
    .footer{
        font-size: 14px;
    }
}

#myBtn {
    display: block;
    position: fixed;
    bottom: -70px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #649274;
    color: white;
    cursor: pointer;
    padding: 10px 19px;
    border-radius: 100px;
    font-size: 24px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#myBtn:hover {
    background-color: #4c775b;
}



/* SLICK */
.slick-next, .slick-prev{
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgb(160, 160, 160);
}
.slick-next:before, .slick-prev:before{
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.5rem;
    color: #000000;
}
.slick-prev:before{
    content: '<';
}
.slick-next:before{
    content: '>';
}
.slick-next{
    right: 30px;
}
.slick-prev{
    left: 30px;
    z-index: 2;
}
@media(max-width:768px){
    .slick-next, .slick-prev{
        visibility: hidden;
    }
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-menu{
    max-height: 300px;
    overflow: auto;
}