<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="ri-arrow-up-line"></i>
</button>
<footer>
    <div class="footer text-center">
        <div class="col-12">
            <p>&copy; 2020 Kawal Covid-19 Provinsi Sumatera Utara. Created by M. Ilham Rizky</p>
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("ul-nav");
    var btns = header.getElementsByClassName("nav-item");

    // Get number from the server, for actived navbar
    var active = "<%= active %>";

    for (var i = 0; i < btns.length; i++) {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    btns[active].className += " active";
    }

    // Animate for Burger icon
    $(document).ready(function(){        
        // Toggle icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
            $(this).prev(".navbar-toggler").find(".fa").removeClass("fa-bars").addClass("fa-times");
        }).on('hide.bs.collapse', function(){
            $(this).prev(".navbar-toggler").find(".fa").removeClass("fa-times").addClass("fa-bars");
        });
    });
</script>