<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top">
    <div class="container">
        <a class="logo" href="/">Kawal Covid-19 Sumut</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <div class="icon-navbar">
                <i class="fa fa-bars"></i>
            </div>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav" id="ul-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontak">Kontak</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button class="btn btn-download">
                            Download App
                        </button>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>