<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/kawalcovid.ico" type="image/x-icon">
    <meta name="description" content="Situasi virus covid-19 atau korona di daerah sumatera utara, untuk memberikan informasi berupa Angka Kasus, Call Center, Website dari setiap kabupaten/kota kepada masyarakat.">
    <title>Kawal Covid-19 Sumatera Utara</title>

    <style type="text/css">
        #head{
            background-image: url('../img/back-head.png');
            background-size: cover;
            background-position: center;
            padding-top: 24px;
            padding-bottom: 32px;
        }
        .wrap-banner{
            width: 100%;
            margin: 0 auto;
        }
        .wrap-banner img{
            border-radius: 10px;
            width: 100%;
        }
        .title-hero h1{
            color: white;
            font-weight: 400;
            letter-spacing: 1px;
        }
        .col-hub .wrap-call{
            border-radius: 10px;
            padding-bottom: 15px;
        }
        a.call-head{text-decoration: none;}
        .call-head:hover{
            color: #000000;
        }
        .container-call{
            display: flex;
        }
        .container-call>div{
            margin-bottom: 1rem;
            flex-grow: 1;
        }
        .container-call>div:first-child{
            padding-right: 1rem;
        }
        .wrap-call{
            letter-spacing: .5px;
            padding-top: 15px;
            background-color: #FFFFFF;
            transition: .3s ease-out;
            height: 100%;
        }
        .call-head .wrap-call:hover{
            text-decoration: none;
            color: #000000;
            background-color: #a4c1ae;
        }
        .wrap-call-icon{
            text-align: center;
        }
        .call-icon{
            width: 40px;
            margin-left: 15px;
            border-radius: 5px;
            padding: 10px;
            background-color: #BEDD9A;
        }
        .call-icon img{
            max-height: 28px;
            width: 100%;
        }
        .wrap-call p:nth-child(odd){
            font-size: 17px;
        }
        .wrap-call p:nth-child(even){
            font-size: 14px;
            letter-spacing: .5px;
        }
        .wrap-call p:nth-child(3){
            margin-top: 14px;
        }
    </style>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/baguetteBox.css">
    <link rel="preload" href="/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </noscript>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top">
        <div class="container">
            <a class="logo" href="/">Kawal Covid-19 Sumut</a>
            <button class="navbar-toggler" type="button" aria-label="Menu Icon" data-toggle="collapse" data-target="#collapsibleNavbar">
                <div class="icon-navbar">
                    <i class="ri-menu-line"></i>
                </div>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav" id="ul-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>